# =========================================================================
# System and IDE Files
# =========================================================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================================================================
# Dependencies and Build Artifacts
# =========================================================================
node_modules/
dist/
build/
*.gem
.claude/
__pycache__/
# =========================================================================
# Environment Variables and Secrets
# =========================================================================
.env
.env.local
*.pem
private_key.txt

# =========================================================================
# Logs and Diagnostics
# =========================================================================
*.log
npm-debug.log*
# =========================================================================
# pytorch models
# =========================================================================
*.pt
# =========================================================================
# large data files - run the thing if you want them
# =========================================================================
*.csv